@model MyPortfolio.Models.FrontEndTechnology

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />

<h4>Edit Name</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FrontEndTechnologyId" />
            <div class="form-group">
                <label asp-for="FrontEndName" class="control-label"></label>
                <input asp-for="FrontEndName" class="form-control" />
                <span asp-validation-for="FrontEndName" class="text-danger"></span>
            </div>
            <div class="col-12 btn-group">
                    <div class="col-6 form group text-right p-2">
                        <a asp-action="Index" class="btn btn-secondary">&nbsp;Back&nbsp;</a>
                    </div>
                    <div class="col-6 form-group text-left p-2">
                        <input type="submit" value="Save" class="btn btn-success" />
                    </div>
                </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
