@model MyPortfolio.Models.ProjectMade

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<h1>My Projects</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProjectMadeName" class="control-label"></label>
                <input asp-for="ProjectMadeName" placeholder="Name Project" required minlength="2" class="form-control" />
                <span asp-validation-for="ProjectMadeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectMadeDescription" class="control-label"></label>
                <input asp-for="ProjectMadeDescription" placeholder="Short Description" required minlength="2" class="form-control" />
                <span asp-validation-for="ProjectMadeDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BackEndTechnologyId" class="control-label"></label>
                <select asp-for="BackEndTechnologyId"  class ="form-control" asp-items="ViewBag.BackEndTechnologyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FrontEndTechnologyId" class="control-label"></label>
                <select asp-for="FrontEndTechnologyId" class ="form-control" asp-items="ViewBag.FrontEndTechnologyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DatabaseTechnologyId" class="control-label"></label>
                <select asp-for="DatabaseTechnologyId" class ="form-control" asp-items="ViewBag.DatabaseTechnologyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="OtherTechnologyId" class="control-label"></label>
                <select asp-for="OtherTechnologyId" class ="form-control" asp-items="ViewBag.OtherTechnologyId"></select>
            </div>
            <hr />
             <div class="col-12 btn-group">
                    <div class="col-6 form group text-right p-2">
                        <a asp-action="Index" class="btn btn-secondary">&nbsp;Back&nbsp;</a>
                    </div>
                    <div class="col-6 form-group text-left p-2">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
