@model MyPortfolio.Models.DatabaseTechnology

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<div>
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.DatabaseTechnologyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatabaseTechnologyName)
        </dd>
    </dl>
</div>
<div>
    <div class="col-35 btn-group">
                    <div class="col-6 form group text-left p-1">
                        <a asp-action="Index" class="btn btn-secondary">&nbsp;Back&nbsp;</a>
                    </div>
                </div>
</div>
