@model MyPortfolio.Models.Contact

@{
    ViewData["Title"] = "Create";

}

<h2 style="text-align:center; color:white">Contact</h2>
<hr style="color:white" />
<div class="row" style="background: linear-gradient(115deg, #56d8e4 10%, #9d44c7 90%); border: 1px solid white">
    <div class="col-md-4" style="max-width: 1350px"> 
        <form asp-action="Create"><br />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ContactFullName" class="control-label"></label>
                <input asp-for="ContactFullName" style="border: 1px solid black" class="form-control" />
                <span asp-validation-for="ContactFullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactSubject" class="control-label"></label>
                <input asp-for="ContactSubject" style="border: 1px solid black" class="form-control" />
                <span asp-validation-for="ContactSubject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" style="border: 1px solid black" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <textarea asp-for="Message" style="border: 1px solid black" rows="8" cols="80" required placeholder="Write your message" class="form-control"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <hr />
            <div class="col-12 btn-group">
                <div class="col-1 form-group text-left">
                    <input type="submit" value="Create" style="border: 1px solid black" asp-action="Create" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


@section Styles{
    <link rel="stylesheet" href="~/css/back.css" />
}