@model MyPortfolio.Models.Rate

@{
    ViewData["Title"] = "Create";

}
<br />

<h1 style="text-align:center;">Rate Projects</h1>
<hr />
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProjectMadeId" class="control-label"></label>
                <select asp-for="ProjectMadeId" class ="form-control" asp-items="ViewBag.ProjectMadeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CommentRate" class="control-label"></label>
                <textarea asp-for="CommentRate" style="border: 1px solid black" rows="8" cols="80" required placeholder="Write your message" class="form-control"></textarea>
                <span asp-validation-for="CommentRate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
